workflow:
  rules:
    - if: $CI_COMMIT_TAG
      variables:
        DOCKER_IMAGE_NAME: "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"
    - if: $CI_COMMIT_BRANCH == "dev"
      variables:
        GITLAB_RUNNER_TAG: "dev-runner"
        DOCKER_IMAGE_NAME: "localhost:5000/biutech/zamloan2/backend/collection-server:$CI_COMMIT_BRANCH"
    - if: $CI_COMMIT_BRANCH
      variables:
        DOCKER_IMAGE_NAME: "$CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH"
variables:
  GITLAB_RUNNER_TAG: "default-runner"
  DOCKER_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  # 默认工作路径
  WORKDIR: "/app"
  SERVICE_NAME: "collection-server"

stages:
  - build

build:
  stage: build
  image: docker:cli
  tags:
    - ${GITLAB_RUNNER_TAG}
  services:
    - docker:dind
  rules:
    - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG
      exists:
        - Dockerfile
    - when: never
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull --build-arg BIU_GITLAB="${BIU_GITLAB_DOMAIN}" --build-arg GIT_USER="${GITLAB_AUTH_USER}" --build-arg GIT_TOKEN="${GITLAB_AUTH_PW}" --build-arg WORKDIR="${WORKDIR}" --build-arg SERVICE_NAME="${SERVICE_NAME}" --build-arg GIT_COMMIT_ID="$(git rev-parse HEAD)" -t "$DOCKER_IMAGE_NAME" .
    - docker push $DOCKER_IMAGE_NAME
